@charset "UTF-8";
*{ box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
a{text-decoration: none; color: #fff;}


.title{font-size: 30px;  padding: 20px 0;}

#ex_01 .wrapper{
	width: 600px; height: 400px;
	 background: #ffffaa; display: grid;
	/*grid-template-columns: 200px 200px 200px; /* 는 가로방향으로 각 충 line의 높이값을 지정  */

	grid-template-columns: minmax(min-content, 300px) minmax(200px, 1fr) ;
	/*  각 자식의 내부 콘텐츠가 영영보다 많은 경우 minmax() 함수를 사용하게 됨. 내부 내용의 최소값과 최대 값을 적용하게 되는데 최대값을 auto로 설정하였을경우 , 내부 콘텐츠의 내용만큼 높이값이 작동으로 적용 */
	/*	grid-template-columns: 1fr 1fr 1fr;
	fr 단위는 부모영역을 전체로 나누었을 떄 차지하는 범위에 대한 지정이 가능*/
	/*grid-template-rows 는 세로방향으로 각 충 line의 높이값을 지정 */
/*	grid-template-columns: repeat(3, 1fr);*/
	/* repeat()함스는 반복 진행할 그리드 수의 지정, 얼마만큼의 비율을 가져갈 것인가를 설정*/
	}
#ex_01 .wrapper .item{background: #aaa;}
#ex_01 .wrapper .item:nth-child(even){background: #ffaaff;}


#ex_02 .wrapper{
	width: 600px; height: 400px; 
	display: grid; 
	grid-template-columns: repeat(3, 1fr);
	}
#ex_02 .wrapper .item{
	width: auto;
	height: auto;
}
#ex_02 .wrapper .item:nth-child(1){background: #ffaaff;}
#ex_02 .wrapper .item:nth-child(2){background: #aaaaff;}
#ex_02 .wrapper .item:nth-child(3){background: #ffaaaa;}
#ex_02 .wrapper .item:nth-child(4){background: #ffffaa; /*grid-row-start: 2; grid-row-end: 4; grid-column-start: 3; grid-column-end: 4;*/ grid-row: 2/4; grid-column: 3/4;}
#ex_02 .wrapper .item:nth-child(5){background: #aaaaff;}
#ex_02 .wrapper .item:nth-child(6){background: #ffaaaa;}


#ex_03 .wrapper{
	width: 600px; height: 600px; 
	display: grid; 
	grid-template-columns: repeat(3, 1fr);

	}
#ex_03 .wrapper .item{
	width: auto;
	height: auto;

}
#ex_03 .wrapper .item:nth-child(1){background: #ffaaff; grid-column: 1/3; grid-row: 1/2;}
#ex_03 .wrapper .item:nth-child(2){background: #aaaaff; grid-row: 1/3; grid-column: 3/4;}
#ex_03 .wrapper .item:nth-child(3){background: #aaffff; grid-column: 4/2; grid-row: 4/3;}
#ex_03 .wrapper .item:nth-child(4){background: #aaffaa; grid-row: 4/2; grid-column: 1/2;}
#ex_03 .wrapper .item:nth-child(5){background: #ffffaa; grid-row: 2/3; grid-column: 2/3;}
#ex_03 .wrapper .item div.table{display: table; width: 100%; height: 100%; }
#ex_03 .wrapper .item p{  display: table-cell;   vertical-align: middle; text-align: center;}

#ex_03 .wrapper:hover .item:nth-child(1){background: #ffaaff; grid-column: 2/4; grid-row: 1/2;}
#ex_03 .wrapper:hover .item:nth-child(2){background: #aaaaff; grid-row: 2/4; grid-column: 3/4;}
#ex_03 .wrapper:hover .item:nth-child(3){background: #aaffff; grid-column: 3/1; grid-row: 4/3;}
#ex_03 .wrapper:hover .item:nth-child(4){background: #aaffaa; grid-row: 3/1; grid-column: 1/2;}
#ex_03 .wrapper:hover .item:nth-child(5){background: #ffffaa; grid-row: 2/3; grid-column: 2/3;}


#ex_04 .wrapper{
	width: 820px; height:820px; 
	display: grid; 
/*		grid-gap: 10px 10px;*/
	background-color: black;
/*	grid-template-columns: repeat(3, 1fr);*/
	box-sizing: border-box;
/*	border: 10px solid #000;*/



	}
#ex_04 .wrapper .item{
	width: auto;
	height: auto;

	
	

}
#ex_04 .wrapper .item:nth-child(1){background: #fff; width: calc(100%-20px); height: calc(100%-20px); margin: 10px;}
#ex_04 .wrapper .item:nth-child(2){background: #f00; width: calc(100%-20px); height: calc(100%-20px);}
#ex_04 .wrapper .item:nth-child(3){background: #fff;  width: calc(100%-20px); height: calc(100%-20px);}
#ex_04 .wrapper .item:nth-child(4){background: #00f; }
#ex_04 .wrapper .item:nth-child(5){background: #fff; }
#ex_04 .wrapper .item:nth-child(6){background: #fff;}
#ex_04 .wrapper .item:nth-child(7){background: yellow;  }

#ex_04 .wrapper .item div.table{display: table; width: 100%; height: 100%; }
#ex_04 .wrapper .item p{  display: table-cell;   vertical-align: middle; text-align: center;}

/* 3.28 3.28 2 */