@charset "UTF-8";

/*common*/
button{cursor: pointer; outline: inherit; border: none;}
/*header*/
header.h_header{width: 100%; margin: 0 auto; position: relative; padding: 1.875rem 0; position: fixed;}
header.h_header button{ background-color: #fff; top: 0;}
header.h_header button,
header.h_header>div{position: absolute;}
header.h_header .h-btn_nav{left: 0; width: 5.375rem; height: 5.125rem; padding: 2.03rem 0 ;}
header.h_header .h-btn_nav div.h-btn-nav_burger{width: 1.25rem; height: 1.0625rem; position: relative; margin: 0 auto; overflow: hidden;}
header.h_header .h-btn_nav div.h-btn-nav_burger span{display: inline-block; width: 100%; height: 0.1875rem; position: absolute; left: 0}
header.h_header .h-btn_nav div.h-btn-nav_burger span.h-burger_top {top: 0;}
header.h_header .h-btn_nav div.h-btn-nav_burger span.h-burger_middle {top: 50%; margin-top: -1.5px;}
header.h_header .h-btn_nav div.h-btn-nav_burger span.h-burger_bottom {bottom: 0; width: 50%;}
header.h_header .h-btn_nav div.h-btn-nav_burger span:before{content: ""; display: inline-block; position: absolute; width: 200%; height: 100%; background-color: #000; top: 0; left: 0; transform: translateX(-200%); transition: 0.4s; transition-delay: 0.4s }
header.h_header .h-btn_nav div.h-btn-nav_burger span:after{content: ""; display: inline-block; position: absolute; width: 200%; height: 100%; background-color: #000; top: 0; left: 0; transform: translateX(-50%);transition: 0.4s; }
header.h_header .h-btn_nav:hover div.h-btn-nav_burger span:before{transform: translateX(-50%);}
header.h_header .h-btn_nav:hover div.h-btn-nav_burger span:after{transform: translateX(450%);}
header.h_header .h-btn_search{ width: 3rem; height: 5.125rem; transform: translateX(176%);}

header.h_header h1.h-header_logo{text-align: center;}
header.h_header h1.h-header_logo svg{width: 10rem;}
header.h_header>div{right: 0; top: 30px;}
header.h_header div.h-free-shipping{transform: translateX(-30%);}
header.h_header div.h-free-shipping strong{text-transform: uppercase; color: #333;}
header.h_header div.h-free-shipping span{color: #aaa;}
header.h_header div.h-free-shipping span:before{content: ""; display: inline-block; width: 22px; height: 1px; background-color: #ddd; transform: translateY(-5px); margin: 0 10px;}
header.h_header div.h-header_right{width: 5rem;}
/**/
.body-wrapper{height: 100%;}
@media(max-width: 768px){
	header.h_header div.h-free-shipping{display: none;}
}