@charset "UTF-8";
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html,body{margin: 0; padding: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
.clearfix:after{content:""; display: block; clear: both;}
/*common*/
button{cursor: pointer; outline: inherit; border: none;}
/*header*/
header.h_header{width: 100%; margin: 0 auto; position: relative; padding: 1.782rem 0; position: fixed; z-index: 99;}
header.h_header button{ background-color: #fff; top: 0;}
header.h_header button,
header.h_header>div{position: absolute;}
header.h_header .h-btn_nav{left: 0; width: 5.375rem; height: 5.125rem; padding: 2.03rem 0 ;}
header.h_header .h-btn_nav div.h-btn-nav_burger{width: 1.25rem; height: 1.0625rem; position: relative; margin: 0 auto; overflow: hidden;}
header.h_header .h-btn_nav div.h-btn-nav_burger span{display: inline-block; width: 100%; height: 0.1875rem; position: absolute; left: 0}
header.h_header .h-btn_nav div.h-btn-nav_burger span.h-burger_top {top: 0;}
header.h_header .h-btn_nav div.h-btn-nav_burger span.h-burger_middle {top: 50%; margin-top: -1.5px;}
header.h_header .h-btn_nav div.h-btn-nav_burger span.h-burger_bottom {bottom: 0; width: 50%;}
header.h_header .h-btn_nav div.h-btn-nav_burger span:before{content: ""; display: inline-block; position: absolute; width: 200%; height: 100%; background-color: #000; top: 0; left: 0; transform: translateX(-200%); transition: 0.4s; transition-delay: 0.4s }
header.h_header .h-btn_nav div.h-btn-nav_burger span:after{content: ""; display: inline-block; position: absolute; width: 200%; height: 100%; background-color: #000; top: 0; left: 0; transform: translateX(-50%);transition: 0.4s; }
header.h_header .h-btn_nav:hover div.h-btn-nav_burger span:before{transform: translateX(-50%);}
header.h_header .h-btn_nav:hover div.h-btn-nav_burger span:after{transform: translateX(450%);}
header.h_header .h-btn_search{ width: 3rem; height: 5.125rem; transform: translateX(176%);}

header.h_header h1.h-header_logo{text-align: center;}
header.h_header h1.h-header_logo svg{width: 10rem;}
header.h_header>div{right: 0; top: 30px;}
header.h_header div.h-free-shipping{transform: translateX(-30%);}
header.h_header div.h-free-shipping strong{text-transform: uppercase; color: #333;}
header.h_header div.h-free-shipping span{color: #aaa;}
header.h_header div.h-free-shipping span:before{content: ""; display: inline-block; width: 22px; height: 1px; background-color: #ddd; transform: translateY(-5px); margin: 0 10px;}
header.h_header div.h-header_right{width: 5rem;}
/**/
/*.body-wrapper{height: 100%;}
@media(max-width: 768px){
	header.h_header div.h-free-shipping{display: none;}
}*/
/*850*/

.h-container{position: relative;  padding-top: 100px;}
.h-container.bg-slider{height: 900px; padding: 0;}
.h-slider{ position: fixed; }
.h_slider_wrap{height: 950px; top: 100px;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;}
.pre_btn, .next_btn{width: 100px; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer;}  
.pre_btn{left: 30px;}
.next_btn{right: 30px;}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 80px; padding: 0;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right: initial; left: 50%; transform: translateX(-100%);}
.bx-wrapper .bx-pager{left: 50%;}

.h-cont-01{border-top-right-radius: 50px; border-top-left-radius: 50px;  background: #fff; }
.h-cont-01:before{content: ""; display: block; width: 10rem;  height: 0.5rem; position: absolute; top: 1.875rem; left: 50%; transform: translateX(-50%); background-color: #ddd; border-radius: 3px; }
.h-cont-01 .h-cont-title,
.h-cont-02 .h-cont-title{width: 30%; margin: 0 auto;}
.h-cont-01 .h-cont-title h3,
.h-cont-02 .h-cont-title h3{text-align: center; font-size: 2.5rem;}
.h-cont-01 .h-cont-box{width: 1400px; margin: 0 auto;}
.h-cont-01 .h-cont-items{width: calc(100%-20px); margin: 0 10px;}
.h-cont-01 .h-cont-items>li{width: 30%; height: 616px; margin-right: 59px; float: left; margin-bottom: 59px; position: relative;}
.h-cont-01 .h-cont-items>li:nth-child(3n){margin-right: 0;}
.h-cont-01 .h-cont-items>li .h-cont-item{background: #ddd; width: 100%; height: 100%;}
.h-cont-01 .h-cont-items>li .h_item_slide{position: absolute; width: 100%; height: 100%; top: -90%;}

.h-cont-02 .h-cont-items{width: calc(100%-20px); margin: 0 10px;}
.h-cont-02 .h-cont-items>li{width: 15%; height: 250px; margin-right: 10px; float: left;}
.h-cont-02 .h-cont-items>li .h-cont-item{background: #ddd; width: 100%; height: 100%;}
.h-cont-02 .h-cont-items>li .h_item_slide{position: absolute; width: 100%; height: 100%; top: -90%;}
