@charset "utf-8";
.epilouge{width: 100%; height: auto;}
.epilouge .frame{width: 960px; height: auto; margin: 0 auto;}
.epilouge .frame .ep_box{width: 100%; height: 260px; padding-top: 20px;}
.epilouge .frame .ep_box:after{content: ""; display: block; clear: both;}
.epilouge .frame .ep_box .ep_img{width: 33.333%; height: 100%; -webkit-background-size: auto 80%; background-size: auto 80%; background-position: 50% 50%; background-repeat: no-repeat; float: left;} 
.epilouge .frame .ep_box:nth-child(1) .ep_img{background-image: url(../img/ep_top_01.png);}
.epilouge .frame .ep_box:nth-child(2) .ep_img{background-image: url(../img/ep_top_02.png); float: right;}
.epilouge .frame .ep_box:nth-child(3) .ep_img{background-image: url(../img/ep_top_03.png);}
.epilouge .frame .ep_box .ep_txt{width: 66.66%; height: 100%; float: left; display: table; padding: 0 20px;}
.epilouge .frame .ep_box .ep_txt p{display: table-cell; vertical-align: middle; font-size: 18px; color: #71788d;}

.epilouge .frame .ep_final{width: 100%; height: 360px; background: url(../img/ep_bottom.png) no-repeat 50% 50%; -webkit-background-size: auto 90%; background-size: auto 90%; margin: 20px 0 40px; }